.legend-text{
    font-size: 12px;
    fill: white;
}

.chart-text{
    font-size: 10px;
    fill: white;
    text-anchor: middle;
}

.pie-chart-svg
{
    display: block;
    margin: auto; 
}

.box {
    display: inline;
}