/* .radar-svg{
    width: 400px;
    height: 230px;
} */

.radar-label {
  text-align: center;
  fill: white;
}

tspan {
  margin: auto;
}

.avg-user-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avg-user-skill h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(75 85 99);
  padding: 4px 16px;
  width: 100%;
}

.avg-user-skill-top-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  line-height: 2;
}
