/* .radar-svg{
    width: 400px;
    height: 230px;
} */

.radar-label
{
    text-align: center;
    fill: white;
}

tspan
{
    margin: auto;
}

.avg-user-skill
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.avg-user-skill h3{
    margin-bottom: 10px;
    background-color: rgb(75 85 99);
    padding: .25rem;
    border-radius: 9999px;
}

.avg-user-skill-top-3
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 10px;
    line-height: 2;
}