@import "./themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-body);
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.4s ease, color 0.4s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}